<!--
https://www.tinymce.com/docs/get-started/work-with-plugins/
-->
{% extends 'blogs/base.html' %}
{% load bootstrap3 static %}

{% block bottom %} {{ block.super }}
 <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
 <script type="text/javascript">
 tinymce.init({
   selector: '#{{ form.text.auto_id }}',
   setup: function(editor) {
     editor.getElement().removeAttribute('required');       // FIX: bootstrap form adds 'required',
   }
 });
 </script>
{% endblock %}

{% block content %}
<form method="post" class="form-horizontal">{% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% buttons submit='Add' field_class='col-md-offset-3' %}
  {% endbuttons %}
</form>
{% endblock %}
